<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="static/main.css">
</head>
<body>

<header>
    <div class="container">
        <div class="logo">
            <span>AUTO</span>UNI HUB
        </div>
        <nav>
            <ul>
                <li><a href="#">Главная</a></li>
                <li><a href="#" class="active">Автомобили в продаже</a></li>
                <li><a href="#">Отзывы</a></li>
                <li><a href="#">Фильтры</a></li>
            </ul>
        </nav>
        <div class="contact">
            <span>КОНТАКТ:</span> <a href="tel:+79999999999">+7 (999) 999 - 99 - 99</a>
        </div>
    </div>
</header>
<main>
    <div class="container">
        <div class="vin-input">
            <form action="post">
                
            </form>
        </div>
    </div>
</main>
</body>
</html>
