<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="static/main.css">
    <link rel="stylesheet" href="static/photos_style.css">
    <script src="static/photo_view.js" defer></script>
    <script src="static/script.js" defer></script>
    <script src="static/change_input.js" defer></script>
</head>
<header>
    <div class="header_container">
        <div class="logo">
            <span>AUTO</span>UNI HUB
        </div>
        <nav>
            <ul>
                <li><a href="#">Главная</a></li>
                <li><a href="#" class="active">Автомобили в продаже</a></li>
                <li><a href="#">Отзывы</a></li>
                <li><a href="#">Фильтры</a></li>
            </ul>
        </nav>
        <div class="contact">
            <span>КОНТАКТ:</span> <a href="tel:+79999999999">+7 (999) 999 - 99 - 99</a>
        </div>
    </div>
</header>
<body>
<main>
    <div class="container">
        <div class="form-switcher">
            <button class="active" onclick="switchForm('vin')">Поиск по VIN</button>
            <button onclick="switchForm('body')">Поиск по номеру кузова</button>
        </div>
        
        <!-- Форма для VIN -->
        <div id="vin-form" class="form-container active">
            <form method="POST" action="{{ url_for('check_vin') }}">
                {{ vin_form.hidden_tag() }}
                {% if vin_form.vin.errors %}
                    <div class="error-message">
                        {% for error in vin_form.vin.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
                <p>{{ vin_form.vin.label }} {{ vin_form.vin(size=20) }}</p>
                <p>{{ vin_form.submit() }}</p>
            </form>
        </div>
        
        <!-- Форма для номера кузова -->
        <div id="body-form" class="form-container">
            <form method="POST" action="{{ url_for('check_body') }}">
                {{ body_form.hidden_tag() }}
                {% if body_form.bodyNumber.errors %}
                    <div class="error-message">
                        {% for error in body_form.bodyNumber.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
                <p>{{ body_form.bodyNumber.label }} {{ body_form.bodyNumber(size=20) }}</p>
                <p>{{ body_form.submit() }}</p>
            </form>
        </div>

        <!-- Индикатор загрузки -->
        <div id="loading" class="hidden">
            <p>Загрузка данных...</p>
            <div class="spinner"></div>
        </div>

        {% if result %}
            <div class="photos_title">
                <h2>Фото ТС</h2>
            </div>
            <div class="photos" style="margin-top: 15 px; margin-bottom: 15 px;">
                {% for photo in photos_list %}
                    <div class="car_photo">
                        <img src="{{ photo }}" width="400" height="400" alt="car_photo" onclick="openFullscreen(this)">
                    </div>
                {% endfor %}
            </div>
            
            <!-- Модальное окно -->
            <div id="fullscreenModal" class="modal" onclick="closeFullscreen()">
                <span class="close-btn" onclick="closeFullscreen()">&#10006;</span>
                <img id="fullscreenImg" class="modal-content">
            </div>

            <div class="main_car_data">
                <div class="main_car_data_title">
                    <h2>Сведения об автомобиле</h2>
                </div>
                <div class="main_car_data_item">
                    <div class="param">
                        <h4>VIN:</h4>
                    </div>
                    <div class="value">
                        <p class="vin">{{ result.get('vin') | safe }}</p>
                    </div>
                </div>
                <div class="main_car_data_item">
                    <div class="param">
                        <h4>Номер кузова:</h4>
                    </div>
                    <div class="value">
                        <p class="body_num">{{ result.get('bodyNumber') | safe }}</p>
                    </div>
                </div>
                <div class="main_car_data_item">
                    <div class="param">
                        <h4>Вид ТС:</h4>
                    </div>
                    <div class="value">
                        <p class="type">{{ result.get('type') | safe }}</p>
                    </div>
                </div>
                <div class="main_car_data_item">
                    <div class="param">
                        <h4>Марка, модель:</h4>
                    </div>
                    <div class="value">
                        <p class="model">{{ result.get('model') | safe }}</p>
                    </div>
                </div>
                <div class="main_car_data_item">
                    <div class="param">
                        <h4>Категория:</h4>
                    </div>
                    <div class="value">
                        <p class="category">{{ result.get('category') | safe }}</p>
                    </div>
                </div>
                <div class="main_car_data_item">
                    <div class="param">
                        <h4>Год выпуска:</h4>
                    </div>
                    <div class="value">
                        <p class="year">{{ result.get('year') | safe }}</p>
                    </div>
                </div>
                <div class="main_car_data_item">
                    <div class="param">
                        <h4>Номер двигателя:</h4>
                    </div>
                    <div class="value">
                        <p class="engine_num">{{ result.get('engineNumber') | safe }}</p>
                    </div>
                </div>
                <div class="main_car_data_item">
                    <div class="param">
                        <h4>Мощность (кВт/л.с.):</h4>
                    </div>
                    <div class="value">
                        <p class="power">{{ result.get('powerKwt') | safe }}/{{ result.get('powerHp') | safe }}</p>
                    </div>
                </div>
                <div class="main_car_data_item">
                    <div class="param">
                        <h4>Объем двигателя:</h4>
                    </div>
                    <div class="value">
                        <p class="capacity">{{ result.get('engineVolume') | safe }}</p>
                    </div>
                </div>
                <div class="main_car_data_item">
                    <div class="param">
                        <h4>Тип ТС:</h4>
                    </div>
                    <div class="value">
                        <p class="car_type">{{ result.get('typeinfo') | safe }}</p>
                    </div>
                </div>
            </div>
            
            <div class="ownership_periods">
                <div class="ownership_periods_title">
                    <h2>Периоды владения</h2>
                </div>
                {% for period in range(ownership_periods|length) %}
                    <div class="registration">
                        <div class="from-to">
                            {% if ownership_periods[period].get('to') == "null" %}
                                <h5>{{period+1}}. c {{ ownership_periods[period].get('from') }} по настоящее время</h5>
                            {% else %}
                                <h5>{{period+1}}. c {{ ownership_periods[period].get('from') }} по {{ ownership_periods[period].get('to') }}</h5>
                            {% endif %}
                        </div>
                        <div class="period_sum">
                            <p>{{ ownership_periods[period].get('period') }}</p>
                        </div>
                        <div class="person_info">
                            <p>{{ ownership_periods[period].get('simplePersonTypeInfo') }}</p>
                        </div>
                        <div class="operation_info">
                            <p>{{ ownership_periods[period].get('lastOperationInfo') }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            
            <div class="car_to">
                <div class="car_to_title">
                    <h2>История техосмотров и пробега</h2>
                </div>
                <div class="car_to_info">
                    {% if TO_data == 'Данные о диагностических картах не найдены' %}
                    <p>{{ TO_data }}</p>
                    {% else %}
                        {% for to in TO_data %}
                            <div class="to_record">
                                <div class="to_record_info">
                                    <div class="value">
                                        <p>{{ to.get('dcDate') }}</p>
                                    </div>
                                </div>
                                <div class="to_record_info">
                                    <div class="param">
                                        <h4>Пробег:</h4>
                                    </div>
                                    <div class="value">
                                        <p>{{ to.get('odometerValue') }} км</p>
                                    </div>
                                </div>
                                <div class="to_record_info">
                                    <div class="param">
                                        <h4>Номер диагностической карты:</h4>
                                    </div>
                                    <div class="value">
                                        <p>{{ to.get('dcNumber') }}</p>
                                    </div>
                                </div>
                                <div class="to_record_info">
                                    <div class="param">
                                        <h4>Действительно до:</h4>
                                    </div>
                                    <div class="value">
                                        <p>{{ to.get('dcExpirationDate') }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="lizing">
                <div class="lizing_title">
                    <h2>Проверка на лизинг</h2>
                </div>
                <div class="lizing_info">
                    {% if lizing == 'Авто в базе лизинга не найдено' %}
                        <p style="margin-top: 10px; color: green;">{{ lizing }}</p>
                    {% else %}
                        <div class="lizing_item">
                            <div class="param">
                                <h4>№ записи:</h4>
                            </div>
                            <div class="value">
                                <p>{{ lizing.get('id') }}</p>
                            </div>
                        </div>
                        <div class="lizing_item">
                            {% set regDate = lizing.get('regDate').split('T')[0] %}
                            <div class="param">
                                <h4>Дата публикации:</h4>
                            </div>
                            <div class="value">
                                <p>{{ regDate }}</p>
                            </div>
                        </div>
                        <div class="lizing_item">
                            <div class="param">
                                <h4>Лизингополучатель:</h4>
                            </div>
                            <div class="value">
                                <p>{{ lizing.get('pledgors').get('privatePerson').get('name') }} {{ lizing.get('pledgors').get('privatePerson').get('birthday') }}</p>
                            </div>
                        </div>
                        <div class="lizing_item">
                            <div class="param">
                                <h4>Лизингодатель:</h4>
                            </div>
                            <div class="value">
                                <p>{{ lizing.get('pledgees').get('organization').get('name') }}</p>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="restrict">
                <div class="restrict_title">
                    <h2>Наличие ограничений</h2>
                </div>
                <div class="restrict_info">
                    <p style="margin-top: 10px; color: green;">{{ restrict.get('message') }}</p>
                </div>
            </div>
            <div class="wanted">
                <div class="wanted_title">
                    <h2>Проверка на розыск</h2>
                </div>
                <div class="wanted_info">
                    {% if wanted == 'В розыске не найдено' %}
                        <p style="margin-top: 10px; color: green;">{{ wanted }}</p>
                    {% else %}
                    <div class="wanted_item">
                        <div class="param">
                            <h4>Регион инициатора розыска:</h4>
                        </div>
                        <div class="value">
                            <p>{{ wanted.get('w_reg_inic') }}</p>
                        </div>
                    </div>
                    <div class="wanted_item">
                        <div class="param">
                            <h4>Дата постоянного учета в розыске:</h4>
                        </div>
                        <div class="value">
                            <p>{{ wanted.get('w_data_pu') }}</p>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="dtp">
                <div class="dtp_title">
                    <h2>Информация о ДТП</h2>
                </div>
                {% if dtps == 'ДТП не найдены' %}
                    <p style="margin-top: 10px; color: green;">{{ dtps }}</p>
                {% else %}
                    <p>{{ dtp_count }}</p>
                    <div class="dtp_item">
                        <div class="param">
                            <h4>№ происшествия:</h4>
                        </div>
                        <div class="value">
                            <p>{{ dtps.get('AccidentNumber') }}</p>
                        </div>
                    </div>
                    <div class="dtp_item">
                        <div class="param">
                            <h4>Марка:</h4>
                        </div>
                        <div class="value">
                            <p>{{ dtps.get('VehicleMark') }}</p>
                        </div>
                    </div>
                    <div class="dtp_item">
                        <div class="param">
                            <h4>Модель:</h4>
                        </div>
                        <div class="value">
                            <p>{{ dtps.get('VehicleModel') }}</p>
                        </div>
                    </div>
                    <div class="dtp_item">
                        <div class="param">
                            <h4>Год выпуска:</h4>
                        </div>
                        <div class="value">
                            <p>{{ dtps.get('VehicleYear') }}</p>
                        </div>
                    </div>
                    <div class="dtp_item">
                        <div class="param">
                            <h4>Состояние ТС:</h4>
                        </div>
                        <div class="value">
                            <p>{{ dtps.get('VehicleDamageState') }}</p>
                        </div>
                    </div>
                    <div class="dtp_item">
                        <div class="param">
                            <h4>Место происшествия:</h4>
                        </div>
                        <div class="value">
                            <p>{{ dtps.get('AccidentPlace') }}</p>
                        </div>
                    </div>
                    <div class="dtp_item">
                        <div class="param">
                            <h4>Дата и время:</h4>
                        </div>
                        <div class="value">
                            <p>{{ dtps.get('AccidentDateTime') }}</p>
                        </div>
                    </div>
                    <div class="dtp_item">
                        <div class="param">
                            <h4>Описание повреждений:</h4>
                        </div>
                        <div class="value">
                            <p>{{ dtps.get('DamageDestription') }}</p>
                        </div>
                    </div>
                    <div class="dtp_item">
                        <div class="param">
                            <h4>Тип происшествия:</h4>
                        </div>
                        <div class="value">
                            <p>{{ dtps.get('AccidentType') }}</p>
                        </div>
                    </div>
                    <div class="dtp_item">
                        <div class="param">
                            <h4>Номер ТС в ДТП:</h4>
                        </div>
                        <div class="value">
                            <p>{{ dtps.get('VehicleSort') }}</p>
                        </div>
                    </div>
                    <div class="dtp_item">
                        <div class="param">
                            <h4>Всего ТС в ДТП:</h4>
                        </div>
                        <div class="value">
                            <p>{{ dtps.get('VehicleAmount') }}</p>
                        </div>
                    </div>
                    <div class="dtp_item">
                        <div class="param">
                            <h4>ОПФ собственника:</h4>
                        </div>
                        <div class="value">
                            <p>{{ dtps.get('OwnerOkopf') }}</p>
                        </div>
                    </div>
                    <div class="dtp_damage_photo">
                        <div class="value">
                            <object type="image/svg+xml" data="{{ dtps.get('DamagePointsSVG') }}" width="500" height="500" class="dtp_damage_image"></object>
                        </div>
                    </div>
                    {% for damage_t in damage_transcript %}
                        <p>{{ damage_t.get('damage').get('title') }}</p>
                    {% endfor %}
                {% endif %}
            </div>
        {% endif %}
    </div>
    <script>
        function switchForm(formType) {
            // Скрыть все формы
            document.querySelectorAll('.form-container').forEach(form => {
                form.classList.remove('active');
            });
            
            // Показать выбранную форму
            document.getElementById(`${formType}-form`).classList.add('active');
            
            // Обновить активные кнопки
            document.querySelectorAll('.form-switcher button').forEach(btn => {
                btn.classList.remove('active');
            });
            event.target.classList.add('active');
        }
    </script>
</main>
</body>
</html>
